.dashboard {
    margin-left: 260px;

    margin-top: 70px;
    padding: 30px;
    background: #0d1117;
    min-height: calc(100vh - 70px);
    color: antiquewhite;
}

.status-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}