.search-card {
    background: #161b22;

    border: 1px solid #30363d;

    border-radius: 12px;

    padding: 25px;

    margin-bottom: 25px;
}


.search-card input {

    width: #161b22;
    padding: 14px;
    border-radius: 8px;

    border: 1px solid #30363d;

    background: #0d1117;
    color: white;

    margin: 20px 0;

    font-size: 16px;
}

.buttons {

    display: flex;

    gap: 10px;
}

.buttons button {

    flex: 1;
    padding: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    background: #238636;
    color: white;

    font-size: 15px;

}



.network-card {

    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 20px;
    color: white;
}

#ip-status, #ping-status {
    color: #8b949e;
    margin-bottom: 10px;
}


#ip-status[data-state="found"], #ping-status[data-state="found"] {
    color: #238636;
}

#ip-status[data-state="not-found"], #ping-status[data-state="not-found"] {
    color: #db2828;
}