.results-card {
    margin-top: 25px;
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 25px;
    color: white;
}

#results-table {
    width: 100%;

    border-collapse: collapse;
    margin-top: 20px;
}

#results-table th {
    text-align: left;
    padding: 12px;

    background: #21262d;
}


#results-table td {
    padding: 12px;
    border-top: 1px solid #30363d;
}