.scan-form {
    background: #161b22;
    border: 1px solid #30363d;
    border-radius: 12px;
    padding: 25px;
    margin-top: 20px;
    color: white;
}

.scan-form label {
    display: block;

    margin-top: 18px;

    margin-bottom: 8pxs;
}

.scan-form input {
    width: 100%;
    padding: 12px;

    border: none;

    border-radius: 8px;
    background: #21262d;

    color: white;
}

.ports {
    display: flex;

    gap: 20px;
    margin-top: 20px;
}

.ports>div {
    flex: 1;
}

.buttons {
    margin-top: 25px;

    display: flex;
    gap: 15px;
}

.buttons button {
    padding: 12px 24px;

    border: none;

    border-radius: 8px;
    cursor: pointer;

}


.options {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.options>div {
    flex: 1;
}

.options select {
    width: 100%;

    padding: 12px;
    border: none;
    border-radius: 8px;

    background: #21262d;

    color: white;
}

#start-scan {
    background: #238636;
    color: white;
}

#stop-scan {
    background: #da3633;
    color: white;
}


#profile {
    width: 100%;

    padding: 12px;
    margin-top: 8px;
    background: #21262d;

    color: white;

    border: none;
    border-radius: 8px;
}