<div id="devto" class="platform-card">
    <div class="platform-header">
        <h2>Dev.to</h2>

        <span id="devto-status">
            waiting...
        </span>
    </div>

    <div class="platform-body">
        <img src="" alt="Avatar" id="devto-avatar">

        <h3 id="devto-name">---</h3>

        <p id="devto-username">@-</p>

        <p id="devto-bio">No bio</p>

        <div class="stats">

            <div>
                <strong id="devto-followers">0</strong>
                <span>Followers</span>
            </div>

            <div>
                <strong id="devto-joined">-</strong>
                <span>Joined</span>
            </div>
        </div>

        <a href="#" id="devto-profile" target="_blank">Open Dev.to profile</a>
    </div>
</div>