<div id="github-card" class="platform-card">
    <div class="platform-header">
        <h2>GitHub</h2>

        <span id="github-status">
            waiting..
        </span>


    </div>

    <div class="platform-body">
        <img id="github-avatar" src="" alt="Avatar">

        <h3 id="github-name">...</h3>


        <p id="github-username">@-</p>

        <p id="github-bio">No bio</p>

        <div class="stats">
            <div>
                <strong id="github-followers">0</strong>

                <span>Followers</span>
            </div>

            <div>

                <strong id="github-following">
                    0
                </strong>

                <span>Following</span>

            </div>

            <div>

                <strong id="github-repos">
                    0
                </strong>

                <span>Repositories</span>

            </div>

        </div>

        <div class="info">

            <p>

                <strong>Company:</strong>

                <span id="github-company">-</span>

            </p>

            <p>

                <strong>Location:</strong>

                <span id="github-location">-</span>

            </p>

            <p>

                <strong>Website:</strong>

                <span id="github-blog">-</span>

            </p>

            <p>

                <strong>Joined:</strong>

                <span id="github-created">-</span>

            </p>

        </div>

        <a id="github-profile" href="#" target="_blank">

            Open GitHub Profile

        </a>

    </div>
</div>
