<div id="gitlab-card" class="platform-card">
    <div class="platform-header">
        <h2>GitLab</h2>

        <span id="gitlab-status">Waiting...</span>
    </div>

    <div class="platform-body">
        <img src="" alt="Gitlab Avatar" id="gitlab-avatar">

        <h3 id="gitlab-name">_</h3>

        <p id="gitlab-username">@-</p>

        <p id="gitlab-bio">No bio</p>

        <div class="stats">

            <div>

                <strong id="gitlab-followers">0</strong>

                <span>Followers</span>
            </div>


            <div>

                <strong id="gitlab-following">0</strong>

                <span>Following</span>
            </div>


            <div class="info">

                <p>
                    <strong>Location: </strong>

                    <span id="gitlab-location">-</span>

                </p>

                <p>

                    <strong>Organization:</strong>

                    <span id="gitlab-organization">-</span>
                </p>
            </div>

            <a href="#" id="gitlab-profile" target="_blank" class="profile-button">Open GitLab Profile</a>
        </div>
    </div>
</div>
