<div id="instagram-card" class="platform-card">

    <div class="platform-header">
        <h2>Instagram</h2>

        <span id="instagram-status">
            waiting...
        </span>


    </div>

    <div class="platform-body">
        <img src="" alt="Instagram Avatar" id="instagram-avatar">

        <h3 id="instagram-name">_</h3>

        <p id="instagram-username">@-</p>

        <p id="instagram-bio">No Biography</p>

        <div class="stats">

            <div>

                <strong id="instagram-followers">0</strong>

                <span>Followers</span>
            </div>

            <div>

                <strong id="instagram-posts">0</strong>
                <span>Posts</span>
            </div>
        </div>


        <div class="info">
            <p>

                <strong>Verified:</strong>

                <span id="instagram-verified">
                    No
                </span>

            </p>

            <p>

                <strong>Business:</strong>

                <span id="instagram-business">
                    -
                </span>

            </p>

            <p>

                <strong>Category:</strong>

                <span id="instagram-category">
                    -
                </span>

            </p>

        </div>

        <div class="buttons">
            <a href="#" id="instagram-profile" target="_blank" class="profile-button">Open Instagram</a>

            <button id="instagram-copy" type="button">Copy Profile URL</button>
        </div>
    </div>
</div>