<div id="keybase-card" class="platform-card">

    <div class="platform-header">

        <h2>Keybase</h2>

        <span id="keybase-status">waitinggg.</span>
    </div>

    <div class="platform-body">

        <img src="" alt="Avatar" id="keybase-avatar">

        <h3 id="keybase-name">...</h3>

        <p id="keybase-username">@-</p>

        <p id="keybase-bio">No Bio</p>

        <div class="stats">

            <div>
                <strong id="keybase-verified">No</strong>
                <span>Verified</span>
            </div>

            <div>
                <strong id="keybase-followers">0</strong>
                <span>Followers</span>
            </div>

            <div>
                <strong id="keybase-following">0</strong>
                <span>Following</span>
            </div>
        </div>

        <a href="#" target="_blank" id="keybase-profile">open Keybase Profile</a>
    </div>
</div>