<div id="mastodon-card" class="platform-card">

    <div class="platform-header">

        <span id="mastodon-status">waiting...</span>

    </div>

    <div class="platform-body">
        <img src="" alt="Avatar" id="mastodon-avatar">

        <h3 id="mastodon-name">---</h3>

        <p id="mastodon-username">@-</p>

        <p id="mastodon-bio">No Bio</p>

        <div class="stats">

            <div>
                <strong id="mastodon-followers">0</strong>
                <span>Followers</span>
            </div>

            <div>
                <strong id="mastodon-following">0</strong>
                <span>Following</span>
            </div>

            <div>
                <strong id="mastodon-posts">0</strong>
                <span>Posts</span>
            </div>


        </div>

        <a id="mastodon-profile" href="#" target="_blank">View Profile</a>
    </div>
</div>