<div id="stackoverflow-card" class="platform-card">

    <div class="platform-header">
        <h2>Stack Over</h2>

        <span id="stackoverflow-status">waitinggggg</span>
    </div>

    <div class="platform-body">
        <img src="" alt="Avatar" id="stackoverflow-avatar">

        <h3 id="stackoverflow-name">----</h3>

        <p id="stackoverflow-location">-</p>

        <p id="stackoverflow-reputation">Reputation: 0</p>

        <div class="stats">
            <div>
                <strong id="stackoverflow-gold">0</strong>
                <span>Gold Badges</span>
            </div>

            <div>
                <strong id="stackoverflow-silver">0</strong>
                <span>Silver Badges</span>
            </div>

            <div>
                <strong id="stackoverflow-bronze">0</strong>
                <span>Bronze Badges</span>
            </div>
        </div>

        <a href="#" id="stackoverflow-profile" target="_blank">Open Stack overFlow profile</a>
    </div>
</div>