<div class="username-form">
    <h2>Username Search</h2>

    <label for="Username">Username</label>

    <input id="username" type="text" placeholder="Enter Target Username">

    <label for="platform">Platform</label>

    <select id="platform">

        <option value="all" selected>All Platforms</option>

        <option value="github">GitHub</option>

        <option value="gitlab">GitLab</option>

        <option value="reddit">Reddit</option>

        <option value="mastodon">Mastodon</option>

    </select>

    <div class="buttons">

        <button id="search-btn">
            Search
        </button>

        <button id="clear-btn">
            Clear
        </button>

    </div>
</div>